@model DryPro.Inventory.Management.UI.Models.InventoryCreateViewModel
@using DryPro.Inventory.Management.Common.Enums
@using Newtonsoft.Json;

@{
    ViewData["Title"] = "Create";
    var Current = new DryPro.Inventory.Management.Core.Entities.Product();
}


<div>
    <a asp-action="Index" class="btn btn-success"></a>
    <h1>Create</h1>
</div>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select id="productType" asp-for="@Current.Type" asp-items="Html.GetEnumSelectList<ProductType>()" class="form-control" onchange="OnPropertyChanged()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <select id="productColor" asp-for="Color" asp-items="Html.GetEnumSelectList<ProductColor>()" class="form-control" onchange="OnPropertyChanged()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SellingPrice" class="control-label"></label>
                <input id="productSellingPrice" asp-for="SellingPrice" class="form-control" onchange="OnPropertyChanged()" />
                <span asp-validation-for="SellingPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoldPrice" class="control-label"></label>
                <input id="productSoldPrice" asp-for="SoldPrice" class="form-control" onchange="OnPropertyChanged()" />
                <span asp-validation-for="SoldPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input id="productCost" asp-for="Cost" class="form-control" onchange="OnPropertyChanged()" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discount" class="control-label"></label>
                <input id="productDiscount" asp-for="Discount" class="form-control" onchange="OnPropertyChanged()" />
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a href="#add-auxItem" class="btn-sm btn-secondary w-100" onclick="OpenAddAuxItemDialog(`@JsonConvert.SerializeObject(Model.AuxItemCreateViewModel.AuxilliaryItems)`)">Add Auxilliary Item</a>
                @if (Model.AuxItemCreateViewModel.AuxilliaryItems.Count > 0)
                {
                    <div>
                        <table class="table table-striped table-sm" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Cost</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var auxItem in Model.AuxItemCreateViewModel.AuxilliaryItems)
                                {
                                    <tr>
                                        <td width="30%">@auxItem.Name</td>
                                        <td width="10%">@auxItem.Cost</td>
                                        <td width="50%">@auxItem.Description</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
            <div class="form-group">
                <label asp-for="Count" class="control-label"></label>
                <input id="createCount" asp-for="Count" class="form-control" min="1" max="255" onchange="OnPropertyChanged()" />
                <span asp-validation-for="Count" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-8 offset-3 row">
                    <div class="col">
                        <input type="submit" class="btn btn-info w-100" value="Create" />
                    </div>
                    <div class="col">
                        <a asp-action="Index" class="btn btn-success w-100">Back</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    function OnPropertyChanged() {
        var type = $("#productType").val();
        var color = $("#productColor").val();
        var sellingPrice = $("#productSellingPrice").val();
        var soldPrice = $("#productSoldPrice").val();
        var cost = $("#productCost").val();
        var discount = $("#productDiscount").val();
        var createCount = $("#createCount").val();
        var data = {
            type: type, color: color, sellingPrice: sellingPrice, soldPrice: soldPrice, cost: cost, discount: discount
        };
        $.ajax({
            url: '@Url.Action("SaveToViewModel", "Inventory")',
            type: 'POST',
            cache: false,
            data: { data: JSON.stringify(data), createCount: createCount}
        });
    }
</script>