@model DryPro.Inventory.Management.UI.Models.InventoryDetailsViewModel
@{
    ViewData["Title"] = "Inventory";
}

<h1>Inventory</h1>

<table class="table table-striped table-secondary" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Current.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Current.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Current.Remaining)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Current.Sold)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Inventory)
        {
            <tr>
                <td width="15%">@item.Type</td>
                <td width="10%">@item.Color</td>
                <td width="10%">@item.Remaining</td>
                <td width="10%">@item.Sold</td>
            </tr>
        }
    </tbody>
</table>
