@model IEnumerable<DryPro.Inventory.Management.Core.Entities.AuxilliaryItem>
@*@using Newtonsoft.Json;*@
@{
    ViewData["Title"] = "Details";
}
<div>
    <table class="table table-striped table-sm" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Cost</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var auxItem in Model)
            {
                <tr>
                    <td width="30%">@auxItem.Name</td>
                    <td width="10%">@auxItem.Cost</td>
                    <td width="50%">@auxItem.Description</td>
                    <td width="10%" class="text-center">
                        <div class="btn-group" role="group">
                            <a asp-action="Edit" asp-controller="AuxItem"
                               asp-route-productId="@auxItem.ProductId"
                               asp-route-Id="@auxItem.Id"
                               asp-route-Name="@auxItem.Name"
                               asp-route-Cost="@auxItem.Cost"
                               asp-route-Description="@auxItem.Description"
                               class="btn btn-secondary w-100">Edit</a>
                            @*<a href="#delete-confirmation" class="btn btn-danger mx-1" onclick="ConfirmDelete(@JsonConvert.SerializeObject(auxItem))">Delete</a>*@
                            <a href="#delete-confirmation" class="btn btn-danger mx-1" onclick="ConfirmDelete(`@auxItem.Id`,`@auxItem.ProductId`)">Delete</a>
                            @*<a asp-action="Delete" asp-controller="AuxItem"
                                asp-route-productId="@auxItem.ProductId"
                                asp-route-Id="@auxItem.Id"
                                asp-route-Name="@auxItem.Name"
                                asp-route-Cost="@auxItem.Cost"
                                asp-route-Description="@auxItem.Description"
                                class="btn btn-danger mx-1" >Delete</a>*@
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="modal fade" id="delete-confirmation" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmation">
    <div class="modal-dialog" style="width:501px !important;margin:0 auto;">
        <div class="modal-content">
            <div class="modal-header" style="background:#d9534f;color:white;">
                <h4 class="modal-title" id="delete-confirmation">
                    Delete Confirmation
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <span>
                                Are you sure you want to delete?
                            </span>
                            <strong id="deletedValueName">
                            </strong>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-danger" value="Delete" onclick="DeleteItem()" />
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="hiddenAuxItemId" />
<input type="hidden" id="hiddenProductId" />

<script type="text/javascript">

    var ConfirmDelete = function (auxItemId, productId) {
        $("#hiddenAuxItemId").val(auxItemId);
        $("#hiddenProductId").val(productId);
        $("#delete-confirmation").modal('show');
    }

    var DeleteItem = function () {
        var auxItemId = $("#hiddenAuxItemId").val();
        var productId = $("#hiddenProductId").val();
        $.ajax({
            url: '@Url.Action("Delete", "AuxItem")/' + auxItemId + '/fromProduct=' + productId,
            type: 'POST',
            cache: false,
            data: { productId: productId, auxItemId: auxItemId },
            success: function (results) {
                $("#delete-confirmation").modal('hide');
                document.location.reload(true);
            }
        });
    }
</script>